.header {
    border-bottom: 1px solid #d6d6d6;
    padding: 17px 0;
}

.header-row {
    display: flex;
    justify-content: flex-start;
    height: inherit;
    flex-wrap: wrap;
    align-items: center;
}

.header-logo {
    margin-right: 135px;
}

.header-logo a {
    display: flex;
    height: 100%;
}

.header-logo img {
    width: 80px;
}

.header-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header-nav li {
    display: flex;
}

.header-nav a {
    padding: 13px 35px;
    font-weight: 500;
    color: #292929;
}

.header-nav a:hover {
    color: #01996d;
}

.header-login {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header-login > *:not(:last-child) {
    margin-right: 10px;
}

.header-login-link {
    padding: 13px 25px;
    line-height: 24px;
    color: #000;
}

.header-login-link:hover {
    color: #01996d;
}