.home {
    position: relative;
    min-height: 895px;
}

.home-bg-img {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: #c3e2da;
}

.home-container {
    max-width: 440px;
    padding: 175px 0;
}

.home-title {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 74px;
    color: #01996D;
}

.home-title {
    margin-bottom: 30px;
}

.home-description {
    line-height: 32px;
}

.home-description {
    margin-bottom: 55px;
}

.home-btn {
    display: flex;
}